<div class="dashboard-form">
  <div class="row">
    <h1 class="col-sm" [@myTrigger]="TextVisible ? 'visible' : 'hidden'">
      {{ Status }}
    </h1>
    <div class="col-sm user-count">
      <div class="user-count-inner">
        User Count
        <div class="inner" *ngIf="user.length > 0">{{ user.length }}</div>
        <i class="fa fa-smile-o" *ngIf="user.length < 1"></i>
      </div>
    </div>
    <div class="col-sm age-mean">
      <div class="age-mean-inner">
        <div class="inner-text">Age Mean</div>
        <div class="inner" *ngIf="ageMean > 0">{{ ageMean }}</div>
        <i class="fa fa-smile-o" *ngIf="isNan(ageMean)"></i>
      </div>
    </div>
  </div>

  <div class="dashboard-inner-container">
    <ngx-datatable
      class="material container striped"
      [rows]="user"
      [columnMode]="'flex'"
      [headerHeight]="50"
      [footerHeight]="50"
      rowHeight="auto"
    >
      <ngx-datatable-column name="ID" [flexGrow]="1">
        <ng-template
          let-rowIndex="rowIndex"
          let-row="row"
          ngx-datatable-cell-template
        >
          {{ row.id }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Name" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.name | titlecase }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Age" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.age }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Actions" [flexGrow]="0.4">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <button
            (click)="showInfo({ id: row.id, name: row.name, age: row.age })"
          >
            <i class="fa fa-info-circle text-primary"></i>
          </button>
          <button (click)="showConfirm(row.id)">
            <i class="fa fa-trash-o text-danger"></i>
          </button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
