<div class="sidenav" [ngClass]="getClass()">
  <div class="logo-container">
    <button class="logo">MT</button>
    <div class="logo-text" @fadeInOut *ngIf="collapsed">Mettler Toledo</div>
  </div>
  <ul class="sidenav-nav">
    <li class="sidenav-nav-item" *ngFor="let item of navData">
      <a
        class="sidenav-nav-link"
        [routerLink]="[item.routeLink]"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <i class="sidenav-link-icon" [class]="item.icon"></i>
        <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">{{
          item.label
        }}</span>
      </a>
    </li>
    <li></li>
  </ul>
</div>
